.gloverall-page .info-section {
    background-color: #B1AA9A;
}
.gloverall-page .info-section::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 1px;
    box-shadow: 0 0 60px 90px #B1AA9A;
    z-index: 1; 
}