.gloverall-phone-container {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    padding: 20px;
}
.gloverall-military {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

.history-phone-title {
    border-top: 2px solid black;
    padding: 10px;
    padding-top: 20px;
}

.gloverall-drawing {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.gloverall .brandBsContent {
    background-color: #B1AA9A;
  }

  .twoColumnsGloverall {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
   }
   
   .gloverall-traditional {
    width: 100%;
    height: auto;
   }