.intro {
    width: 100%;
    margin-bottom: 2rem;
}


.logo-wrapper {
    position: fixed;
    top: 120px; 
    left: 60%;
    /* top:18vh;
    left:120vh; */
    transform: translateX(-50%);
    z-index: 10;
    width: 200px; 

    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 80px; 
    /* border: 1px solid red; */
}

.logo-wrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    filter: brightness(0);
}


.info-container {
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 0;
    white-space: pre-wrap;
    padding-top: 90px;
    font-family: 'InesRegular';
    font-size: 18px;
    letter-spacing: 0.3px;
    transform: scaleY(1.01);
}

.info-container h5 {
    font-size: 20px;
    font-family: 'InesItalic';
    letter-spacing: 1.2px;
    margin-bottom: 1.5rem;
    transform: skewX(-5deg);
}

.info-header {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.info-header img {
    max-width: 200px; 
    height: auto;
}

.info-main {
    display: flex;
    gap: 2rem;
}

.info-left {
    flex: 0.4;
    min-width: 30%;
}

.info-right {
    flex: 0.6;
    min-width: 45%;
}

.info-origin,
.info-socials {
    margin-bottom: 2rem;
}

.info-socials {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.info-socials a svg {
    font-size: 14px;
    transform: translateY(2px);
}

.info-socials a {
    text-decoration: none;
    color: black;
    
}

@media (max-width: 768px) {
    .info-main {
        flex-direction: column;
    }
    
    .info-left,
    .info-right {
        width: 100%;
        min-width: 100%;
    }
}