.intro {
    width: 100%;
    margin-bottom: 2rem;
}


.logo-wrapper {
    position: absolute;
    top: 120px; /* Ajusta según necesites */
    left: 58%;
    transform: translateX(-50%);
    z-index: 10;
    width: 200px; /* O el ancho que necesites */

    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px; /* Ancho fijo */
    height: 80px; 
}

.logo-wrapper img {
    /* width: 100%;
    height: auto; */

    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


.info-container {
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 0;
    white-space: pre-wrap;
    /* font-family: 'LTAfficherNeue-Subhead'; */

    padding-top: 100px;
    /* position: relative; */
}

.info-header {
    display: flex;
    align-items: center;
    gap: 2rem;

    /* height:160px; */


    /* margin-bottom: 2rem; */
}

.info-header img {
    max-width: 200px; 
    height: auto;
}

.info-main {
    display: flex;
    gap: 2rem;
}

.info-left {
    flex: 0.4;
    min-width: 30%;
}

.info-right {
    flex: 0.6;
    min-width: 45%;
}

.info-origin,
.info-socials {
    margin-bottom: 2rem;
}

.info-socials {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.info-socials a {
    text-decoration: none;
    color: black;
}

h5 {
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .info-main {
        flex-direction: column;
    }
    
    .info-left,
    .info-right {
        width: 100%;
        min-width: 100%;
    }
}