.contact-phone-container {
    background-color: black;
}

.contact-phone-container {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.contact-phone {
    font-size: 180px;
    text-transform: uppercase;
    transform: rotate(90deg) scaleY(1.5);
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
    width: 100vh;
    text-align: center;
    left: calc(-50vh + 50%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;

    color: brown;
}

.instagram-phone {
    text-decoration: none;
}

.instagram-phone a {
    color: inherit;
    text-decoration: none;
}

.email-phone,
.instagram-phone {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}

.email-phone {
    /* top: 380px; */
    top: 46.3vh;
    font-size: 16.5px;
    padding-left: 7px;
    color: black;
}

.instagram-phone {
    /* top: 400px; */
    top: 52vh;
    padding-left: 11px;
    font-size: 16.5px;
    color: brown;
}