.moonstar810-page .info-section {
    /* background-color: #6F818E; */
    background-color: #8D887F;

}

.moonstar810-page .info-section::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 1px;
    box-shadow: 0 0 60px 90px #8D887F;
    z-index: 1; 
}
