.best-sellers-title {
    padding-left: 26px;
    padding-top: 20px;
    border-top: 1px solid black;

    letter-spacing: 1.3px;
    font-family: 'InesItalic';
    transform: skewX(-10deg);
}

.brandBsContent {
    margin-top: 40px;
    background-color: var(--bs-background);
    margin-right: -16px;
    margin-left: -16px;
}

.carrusel-image {
    padding-left: 20px;
}

.carrusel-description {
    padding-left: 26px;
}