.fade-content {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    will-change: opacity, transform;
    position: relative;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.fade-content.visible {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;

    animation: fadeIn 0.5s ease-out forwards;

}

.fade-content.hidden {
    animation: fadeOut 0.5s ease-in forwards; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}
 
