.swipe-intro{
    padding: 10px;
    letter-spacing: 1.1px;
    font-family: 'InesItalic';
    
}

.swipe-photo {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 45px;
}