.swipe-page {
    width: 100%;
    height: 100%;
}

.swipe-container {
    display: flex;
    box-sizing: border-box;
    height: 100%;
}

.swipe-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 1px;
    box-shadow: 0 0 60px 90px #D4CFC5;
    z-index: 1; 
}

.first-column-swipe {
    flex: 1;
    min-width: 45%;
}

.second-column-swipe {
    flex: 1;
    min-width: 45%;
    display: flex;
    flex-direction: column;
    /* background-color: #E8E3D7; */
    background-color: #D4CFC5;
    overflow-y: scroll;
    padding-bottom: 52px;
}

.second-column-swipe p {
    padding: 2rem;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
    font-family: 'InesRegular';
    font-weight: 300;
    font-size: 14px;
    white-space: pre-wrap;
    width: 90%;
    line-height: 1.8;

    letter-spacing: 0.5px;
    transform: scaleY(1.03);

    /* columns: 2 auto; 
    column-gap: 80px; */
}

.contact {
    margin-top: auto;
}

.show-less-btn {
    background: none;
    border: none;
    padding: 1rem;
    padding-left: 2rem;
    margin-left: 4px;
    font: inherit;
    cursor: pointer;
    color: black;
    text-decoration: underline;
    text-align: left;
    background-color: transparent;
    width: fit-content;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
    font-family: 'InesRegular';
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.3px;
    transform: scaleY(1.01);
}

.contact a {
    padding-left: 2rem;
}

@media (max-width: 768px) {
    .swipe-container {
        flex-direction: column;
    }

    .first-column-swipe,
    .second-column-swipe {
        width: 100%;
        min-width: 100%;
    }
}

.contact-button-container {
    position: absolute;
    left: 0;
    top: 32px;
    padding-left: 31px;
    z-index: 20;
}

.contact-button {
    text-decoration: underline;
    color: #000;
    z-index: 20;
    text-underline-offset: 4px;
    letter-spacing: 0.5px;
    transform: scaleY(1.01);
    font-family: 'InesRegular';
}

