.carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-invisible-prev,
.carousel-invisible-next {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.carousel-invisible-prev {
    left: 0;
    cursor: w-resize;
}

.carousel-invisible-next {
    right: 0;
    cursor: e-resize;
}

.carousel-image-container img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    object-fit: cover;      /* Hace que la imagen cubra todo el espacio, manteniendo su proporción */
    object-position: center;
    position: relative;
    z-index: 0;
}

.carousel-navigation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    /* align-items: flex-start; */
    /* align-items: center; */
}

.carousel-info {
    position: relative;
    flex: 1;
    max-width: 80%;
    padding-right: 100px;
    background-color: transparent;
    top: 2rem;
    
}

.carousel-info p{
    margin: 0;
    width:100%;
    /* padding-right: 1rem; */
}

.carousel-counter {
    position:absolute;
    right:0;
    top:0;
    margin:0;
    white-space:nowrap;
}

.carousel-next-button {
    position: absolute;
    right: 1rem;  
    top: 2rem;    
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.carousel-image-container {
    width: 100%;
    height: 100%;
}

/* .carousel-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
} */