.header-two-desktop {
    position: relative;
    font-family: 'InesRegular';
    overflow-x: hidden;

}

.desktop-two-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #F9F6E8;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out 0.4s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.95;
    }
}

.brands-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.header-subtitle {
    font-size: 28px;
    font-weight: normal;
    text-align: center;
}

.columns-container {
    display: flex;
    gap: 150px;
    justify-content: center;
    width: 100%;
}

.footwear-column,
.apparel-column {
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    text-align: center;
}

.products-type-title {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

.nav-two-item {
    margin: 30px 0;
    position: relative;
}

.nav-two-item a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    display: block;
    transition: all 0.3s ease;
}

.nav-two-item a:hover {
    -webkit-text-stroke: 1px rgba(0,0,0,0.7); 
}

.about-us-container {
    text-align: center;
    width: 100%;
    background-color: #D3CEB8;

    border-top: 2px solid #252525;
    margin-top: auto; 
    padding: 10px 0; 
    bottom: 0;
    left: 0;
}

.about-us-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.nav-two-item:hover .hover-two-image {
    display: block;
}

.hover-two-image img {
    width: 100%;
    height: auto;
    opacity: 1 !important;
}

.hover-two-image {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    height: auto;
    z-index: 1002;
}

.footwear-column .hover-two-image {
    right: auto;
    left: -250px; 
}

.apparel-column .hover-two-image {
    right: -250px;
    left: auto;
}



.hamburger-two-button {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hamburger-line {
    width: 18px;
    height: 1px;
    background-color: black;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}

.hamburger-line.top {
    transform: translateY(-6px);
}

.hamburger-line.bottom {
    transform: translateY(6px);
}

.hamburger-two-button.active .hamburger-line.top {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.hamburger-two-button.active .hamburger-line.bottom {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.hamburger-two-button.active .hamburger-line.top,
.hamburger-two-button.active .hamburger-line.middle,
.hamburger-two-button.active .hamburger-line.bottom {
    transition: transform 0.2s ease-in-out 0.2s;
}

.hamburger-two-button.active .hamburger-line.top,
.hamburger-two-button.active .hamburger-line.middle {
    transform: rotate(45deg);
}

.hamburger-two-button.active .hamburger-line.bottom {
    transform: rotate(-45deg);
}