body.desktop {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  overflow: hidden;

  height: 100vh;
}
* {
  box-sizing: border-box;
}




body.mobile {
  margin: 0;
  min-width: 320px;
  overflow-y: auto;
}

.main-mobile {
  display: flex;
  flex-direction: column;
  gap: 2rem;  /* Espacio entre elementos */
  padding: 1rem;
}

