@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes titleDrop {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  100% {
    transform: translateY(2rem);
    opacity: 1;
  }
}

.main-mobile {
  animation: fadeInMobile 0.5s ease-in forwards;
}

@keyframes fadeInMobile {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.header-mobile .main-title {
  margin: 0;
  font-size: 1.2rem;

  position: relative;
  letter-spacing: 1.3px;
  font-family: 'InesRegular';
}

.nav-title {
  position: absolute;
  font-size: 1.2rem;
  margin: 0;
  left: 1rem;
  animation: titleDrop 1s ease-out forwards;
  text-decoration: none;
  color: black;
  font-weight: bold;
  letter-spacing: 1.3px;
  font-family: 'InesRegular';


  top: var(--header-title-position, 1rem);

  /* font-family: 'InesRegular';
    font-size: 18px;
    letter-spacing: 0.3px;
    transform: scaleY(1.01); */
}



.header-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 2000;

  font-family: 'InesRegular';
  font-size: 18px;
  letter-spacing: 0.3px;
  transform: scaleY(1.01);
}

.menu-icon {
  cursor: pointer;
  right: 1rem;
  top: 1rem;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.menu-icon svg {
  width: 24px;
  height: 24px;
}

.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #DBDED5;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 100px 20px 40px 20px;
  opacity: 1;
  font-family: 'InesRegular';

}

.nav-mobile.slide-down {
  animation: slideDown 0.5s ease-out forwards;
}

.nav-mobile.slide-up {
  animation: slideUp 0.5s ease-out forwards;
}



.nav-list-mobile {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  opacity: 0;
  font-family: 'InesRegular';

}

.nav-list-mobile.fade-in {
  animation: fadeIn 0.5s ease-out 0.3s forwards;
}

.nav-list-mobile.fade-out {
  animation: fadeOut 0.3s ease-out forwards;
}

.nav-item-mobile {
  margin: 1rem 0;
}

.nav-item-mobile a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  font-family: 'InesRegular';

}

.nav-item-mobile svg {
  color: grey;
  vertical-align: middle;
  font-size: 15px;
}

.second-nav-list-mobile {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 100px;
  margin-top: 0px;
  opacity: 0;
  font-family: 'InesRegular';

}

.second-nav-list-mobile.fade-in {
  animation: fadeIn 0.5s ease-out 0.4s forwards;
}

.second-nav-list-mobile.fade-out {
  animation: fadeOut 0.3s ease-out forwards;
}

.second-nav-item-mobile a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-family: 'InesRegular';

}


.close-icon.show {
  opacity: 1;
}

.menu-icon-close {
  opacity: 0;
}

.menu-icon-close.fade-in {
  animation: fadeIn 0.5s ease-out 0.5s forwards;
}

.menu-icon-close.fade-out {
  animation: fadeOut 0.3s ease-out forwards;
}